
    <form action="/artist-search" method="GET">
    
        <label for="name">ARTISTA:</label>
        <input type="text" name="artist" id="">
        <br>
        <button type="submit">BUSCAR</button>
    
    </form>
